
<html>
<head>
<title>Chat widget</title>
</head>
<body>
<div id="webchat"></div>
<script src="https://cdn.jsdelivr.net/npm/rasa-webchat/lib/index.min.js"></script>
<script>
  WebChat.default.init({
    selector: "#webchat",
    initPayload: "/get_started",
    customData: {"language": "en"}, 
    socketUrl: "http://localhost:5005",
    socketPath: "/socket.io/",
    title: "Feedby",
    subtitle: "A feedback chatbot",
    params: {"storage": "session"}
  })
</script>
</body>
</html>

